:root {
  --main-accent-color:#660099;
  --main-accent-hover-color:#bb33ff;
  --main-sec-accent1:#ff8811;
  --main-sec-accent2:#dd1155;
  --main-sec-accent3:#77ff00;
  --main-tert-color: #ff8877;
  --main-bg-color:#ffeedd;
  --main-font-color:#686868;
  --main-font-color-alt:#979797;
  --main-font-color-dark:#262626;
  --main-padding: 15px;  
  --main-font-family: 'Fira Sans';
  --main-font-family-header: 'Montserrat';
}

body {
  margin:0;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  background-color: var(--main-bg-color);
  font-size: 22px;
}
.sidebar {
  position:fixed;
  right:0;
  top: 0;
  height:100%;
  display:inline-block;
  z-index:1050;
  color:var(--main-accent-color);
  background-color: var(--main-font-color-alt);
  font-family: var(--main-font-family-header);
}
.sidebar a {
  color:var(--main-accent-color);
}
.navbar {
  background-color: var(--main-tert-color);
  font-family: var(--main-font-family-header);
}
.nav-pills .nav-link.active {
  background-color: var(--main-accent-color);
}
.nav-link {
  color: var(--main-accent-color);
}
.nav-link:hover {
  color: var(--main-accent-hover-color);
}
