body{
    border:1px green solid;
    margin:0;
    color: #979797;
  }
  .outer {
	width: 100%;
  	height: 100%;
  }
  .wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 0px;
  }
  .sidebar {
   	position:fixed;
    left:0;
    top: 0;
    height:100%;
    width:100px;
    border:1px red solid;
    display:inline-block;
	background-color:beige;
  }
  .sidebar img {
    width: 80px;
    height: 80px;
    border: #979797 solid 1px;
    border-radius:50%;
    margin: 9%;
  }
  .main {
  	height:100%;
    border:1px blue solid;
    width:92%;
    display:inline-block;
    margin-left:100px;
    background-color:lavender;
  }
  .main #header {
  	margin-bottom: 50px;
  	border-top: 1px solid #DEDEDE;
  	border-bottom: 1px solid #DEDEDE;
  	display: block;
  	width: 100%;
  	background-color: #FFF;
  	margin: 0 auto;
  	padding: 0;
  	text-align: left;
  }
  .main #header h1 {
  	font-size: 56px;
  	font-weight: normal;
  	font-style: italic;
  	text-transform: uppercase;
  	text-align: center;
  }
  .main #header h4 {
  	font-size: 16px;
  	margin-bottom: 0;
  	padding-bottom: 0;
  	line-height: 1.8em;
  	font-style: italic;
  }
  .main .column {
  	float:left;
  	height:468px;
    border:1px orange solid;
    width:33%;
    display:inline-block;
  }
  .column h1 {
  	font-size: 20px;
  	text-align:center;
  }
