.sidebar {
   	position:fixed;
    left:0;
    bottom: 0;
    height:100%;
    width:100px;
    border:1px red solid;
    display:inline-block;
	background-color:beige;
  }
  .main {
  	height:100%;
    border:1px blue solid;
    width:92%;
    display:inline-block;
    margin-left:100px;
    background-color:lavender;
  }
  .main .column {
  	float:left;
  	height:250px;
  }
  .main .column-top {
    border:1px orange solid;
    width:100%;
    display:inline-block;
  }
  .main .column-bottom {
    border:1px orange solid;
    width:49%;
    display:inline-block;
  }
